@charset "utf-8";

@import url('https://fonts.cdnfonts.com/css/star-wars');
/* font-family: 'Star Wars', sans-serif; */

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


$MainBlack: #000;
$SubBlack: #1D1E1F;
$MainWhite: #f4f4f4;
$StarWarsYellow: #fade4b;
$MainGray: #B5B7B7;

.App {
  text-align: center;
}

#root {
  background-color: $MainBlack;
  color: $MainWhite;
}

a {
  font-size: 14px;
}

h1 {
  font-family: 'Star Wars', sans-serif;
  color: $StarWarsYellow;
}

h2 {
  font-family: 'Star Wars', sans-serif;
  color: $StarWarsYellow;
}

h3{
  font-size: 20px;
}

h4 {
  font-family: 'Star Wars', sans-serif;
  font-size: 20px;
}

h5 {
  font-size: 12px;
  color: $MainGray
}

h6 {
  font-family: 'Star Wars', sans-serif;
  font-size: 20px;
}

nav{
  background-color: white;
}

// Footer

footer {
  padding: 60px 0;
  border-top: 1px solid $MainWhite;
  text-align: left;
  margin-top: 30px;
  width: 100%;
}

.footer_main {
  width: 1290px;
  display: flex;
  margin: 0 auto;
}

.footer_about {
  width: 20%;

  li {
    height: 24px;
    margin-bottom: 10px;
  }
}

.footer_customer {
  width: 40%;

  li {
    height: 24px;
    margin-bottom: 10px;
  }
}

.footer_colphon {
  width: 1290px;
  margin: 0 auto;
}

.colphon_links {
  display: flex;
  align-items: center;

  img {
    width: 100px;
    margin-right: 2.2rem;
  }

  span {
    margin-left: .8rem;
    padding-right: .8rem;
  }
}

@media screen and (max-width: 1308px) {


  
  .footer_main {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
  }
  .footer_colphon {
    width: 100%;
    margin: 0 auto;
  }
}