@charset "utf-8";

@import url('https://fonts.cdnfonts.com/css/star-wars');
/* font-family: 'Star Wars', sans-serif; */

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


$MainBlack: #222;
$SubBlack: #1D1E1F;
$MainWhite: #f4f4f4;
$StarWarsYellow: #fade4b;
$MainGray: #B5B7B7;

.App {
  text-align: center;
}

#root {
  background-color: $MainBlack;
  color: $MainWhite;
}

h1 {
  font-family: 'Star Wars', sans-serif;
  color: $StarWarsYellow;
}

h2 {
  font-family: 'Star Wars', sans-serif;
  color: $StarWarsYellow;
}

h3 {
  font-size: 20px;
}

h4 {
  font-family: 'Star Wars', sans-serif;
  font-size: 20px;
}

h5 {
  font-size: 12px;
  color: $MainGray
}

h6 {
  font-family: 'Star Wars', sans-serif;
  font-size: 20px;
}

nav {
  background-color: white;
}

// Footer

footer {
  padding: 60px 0;
  border-top: 1px solid $MainWhite;
  text-align: left;
  margin-top: 30px;
  width: 100%;
  h6{
    margin-bottom: 30px;
  }
}

.footer_main {
  width: 1290px;
  display: flex;
  margin: 0 auto;
}

.footer_about {
  width: 20%;

  li {
    height: 24px;
    margin-bottom: 10px;
    padding: 1rem 0;
  }
}

.footer_customer {
  width: 40%;

  ul {
    columns: 2;
  }

  li {
    height: 24px;
    margin-bottom: 10px;
    padding: 1rem 0;
  }
}

.Footer_connect{
  .footer_span{
margin: 1rem 0;
}

span{margin-right: 20px;
  line-height: 50px;
}

span img{width: 30px; height: 30px;}

p{  margin-top: 15px;}

button{
  padding: .9rem 3.5rem;
  border: .1rem solid transparent;
  line-height: 2rem;
  cursor: pointer;
  margin-top: 15px;
}
}

.footer_colphon {
  width: 1290px;
  margin: 0 auto;
}

.colphon_links {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  img {
    width: 100px;
    margin-right: 2.2rem;
  }

  span {
    margin-left: .8rem;
    padding-right: .8rem;
  }
}

@media screen and (max-width: 1308px) {

  .footer_main {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
  }

  .footer_colphon {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer_main {
    width: 66%;
    display: flex;
    flex-direction: column;
  }

  .footer_about, .footer_customer, .Footer_connect{
    width: 100%;
    margin-bottom: 40px;
  }
  .footer_about, .footer_customer{
    li{margin-bottom: 30px;}
  }
  .footer_about{
    width: 65%;
  }
}
