@charset "utf-8";


/* Slider */

.slider1,
.slider2,
.slider3 {
    height: 900px;
    background-size: cover;
    background-position: center;

}

.slider1 {
    background-image: url(/../public/img/slider1.jpg);
}

.slider2 {
    background-image: url(/../public/img/slider2.jpg);
}

.slider3 {
    background-image: url(/../public/img/slider3.jpg);
}

/* Section1 */
.section1 {

    .col-lg-3,
    .col-lg-6 {
        padding: 10px;
    }

    .col-lg-3 img,
    .col-lg-6 img {
        width: 100%
    }

}


/* section3 */

.section3 {
    display: flex;
    flex-direction: row;

    .row {
        height: 500px;

        .left {
            .swiper-slide {
                height: 500px !important;
            }

            img {
                height: 300px;
            }
        }

        .right {
            .swiper-slide {
                img {
                    height: 120px;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}

.section9 {
    .row {
        img {
            height: 100px;
        }
    }
}

@media screen and (max-width: 991px) {

    .section1 {
        .col-lg-3 {
            width: 50%;
            padding: 10px;
        }

        .col-lg-6 {
            order: 2
        }
    }

}