@charset "utf-8";

$MainBlack: #000;
$SubBlack: #1D1E1F;
$MainWhite: #f4f4f4;
$StarWarsYellow: #fade4b;
$MainGray: #B5B7B7;


// #5A5C5D


/* Slider */

.slider1,
.slider2,
.slider3 {
    height: 900px;
    background-size: cover;
    background-position: center;
}

.slider1 {
    background-image: url(/../public/img/slider1.jpg);

}

.slider2 {
    background-image: url(/../public/img/slider2.jpg);
}

.slider3 {
    background-image: url(/../public/img/slider3.jpg);
}

.title {
    margin: 50px 0;
    text-align: left;

}

// Slider

.Slider {

    h1 {
        margin-bottom: 400px;
    }

    p {
        color: $MainWhite;
        margin-bottom: 50px;
        font-family: "Russo One", sans-serif;
        font-size: 16px;
    }

}

.slider1 h1 {
    margin-bottom: 50px;
}

/* Section1 */
.section1 {
    margin: 100px 0;

    .col-lg-3,
    .col-lg-6 {
        padding: 10px;
    }

    .col-lg-3 img,
    .col-lg-6 img {
        width: 100%
    }

}

// section2

.character {
    text-align: left;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 200px;
        width: 266px;
    }

    h4 {
        margin-top: 20px;
    }

    a {
        color: $StarWarsYellow
    }
}

.Character_page {
    width: 90%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $SubBlack;
}

/* section3 */

.section3 {
    display: flex;
    flex-direction: row;

    a {
        color: $MainWhite;
    }

    .row {



        .left {
            .swiper-slide {
                height: 500px !important;
                background-color: $SubBlack;
            }

            img {
                height: 300px;
            }

            a {
                font-size: 20px;
                margin: 10px 0;
            }

            h5 {
                font-size: 18px;
                margin-bottom: 20px;
            }

            p {
                font-size: 24px;
            }

            .best_figure {
                padding: 50px;
                text-align: left;
            }
        }

        .right {

            .swiper-wrapper {
                flex-wrap: wrap;
                flex-direction: column;
            }

            .swiper-slide {
                background-color: $SubBlack;

                img {
                    height: 120px;
                }
            }
        }
    }
}

.best_figure {
    padding: 20px 5px;
    text-align: left;
}

.Section3_page {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.Section3_page:hover {
    transition: 1s;
    background-color: $MainGray;
    cursor: pointer;

    a {
        color: $StarWarsYellow;
    }

    h5 {
        color: $MainBlack;
    }

    p {
        color: $MainWhite;
    }

}

// section4

.section4_wallpaper {
    background-position: center;
    background-image: url(/../public/img/section4_wallpaper.jpg);
    padding: 60px 0 52px 0;
    margin: 50px 0;
}

.userreview {
    display: flex;
    flex-direction: row;
    height: 234px;
    text-align: left;
    padding: 30px 57px 30px 40px;
    background-color: $SubBlack;

    .profileimage {
        margin-top: 20px;
        margin-right: 10px;
    }

    .profileimage {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid $MainWhite;
    }

    .textpage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $MainBlack;
        border-radius: 10px;
        padding: 30px;

        p {
            font-size: 14px;
        }
    }
}

// Section5

.section5 {
    border: 2px solid $MainWhite;
    text-align: left;
    padding: 10px;
    margin: 100px 0;

    p {
        font-size: 13px;
    }
}

.section5_list {
    display: flex;
    align-items: center;
    width: 50%;
}

.section5_list img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-bottom: 20px;
}

// Section6

.section6 {
    height: 650px;
    background-color: transparent;
    margin-top: 50px;
    margin-bottom: 50px;

    .swiper {
        height: 75%;

        .swiper-pagination-bullet {
            background-color: $MainWhite;
        }


    }

    .comingsoon {
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        text-align: left;
        background-color: $SubBlack;

        a {
            color: $MainWhite;
        }

        img {
            height: 120px;
            margin-right: 20px;
        }
    }

    .comingsoon:hover {
        cursor: pointer;
        transition: 1s;
        background-color: $MainGray;

        h5 {
            color: $StarWarsYellow
        }

        a {
            color: $SubBlack;
        }
    }

    .comimgsoonmySwiper {

        height: 950px;

    }

    .swiper-slide {
        background-color: transparent;
    }

    .swiper-wrapper {
        height: 450px;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

// Section7

.Section7 {
    margin-bottom: 100px;
}

// Section8
.userblogmySwiper {
    .swiper-slide {
        background: transparent;
    }
}

.section8 {
    height: 300px;
    margin: 100px 0;
    background-color: $SubBlack;
    text-align: left;

    h3 {
        font-size: 16px;
        margin-top: 30px;
        font-weight: 1000;
    }

    p,
    a {
        font-size: 14px;
        margin-top: 20px;
    }

    button {
        width: 80px;
        height: 28px;
        margin-top: 10px;
        border-radius: 50px;
        font-size: 16px;
    }

    .section8_page {
        position: absolute;
        z-index: 1;
        padding: 20px;
    }

    img {
        width: 100%;
        height: 100%;
        background-position: center;
        position: relative;
        opacity: 0%;
    }
}

.section8:hover{
    img {
        transition: 0.5s;
        display: block;
        opacity: 80%;
    }
}

// Section9

.section9 {
    border: 1px solid $MainWhite;
    margin: 50px 0;

    .swiper-slide {
        background: transparent;
        padding: 20px 0;
    }

    img {
        height: 100px;
    }
}

// Detail

.Detail_productpage {
    margin-top: 100px;

    .Detail_imglayer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Detail_img {
    width: 330px;
}

.Detail_imglayer {
    background-color: $MainWhite;
}

.Detail_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 50px;

    li {
        margin-top: 30px;

        p {
            font-size: 16px;
        }
    }

    h3 {
        font-weight: 900;
    }

    h4 {
        font-size: 40px;
    }

    p {
        font-size: 26px;
    }

}

.Detail_tag {
    color: $MainWhite;
}

.DetailProduct_img {
    margin-bottom: 200px;
}

.DetailProduct_img img {
    width: 60%;
    margin-top: 50px;
}

.Preview_text {
    margin: 50px 0;
}

// .Review_info{

// }

.nav-tabs {
    margin-top: 100px;
}

// Cart

.Sort_button {
    background-color: transparent;
    border: none;
    color: $MainWhite;
}

.Sort_button:hover {
    transition: 0.5s;
    color: $StarWarsYellow;
}

@media screen and (max-width: 991px) {

    .section1 {
        .col-lg-3 {
            width: 50%;
            padding: 10px;
        }

        .col-lg-6 {
            order: 2
        }
    }

}

@media screen and (max-width: 768px) {
    .navbar-brand img {
        display: none;
    }

    .section3 .container {
        height: 1040px;

        .row {
            height: 100% !important;

            .left {
                height: 50%;

            }

            .right {
                height: 50% !important;

            }
        }
    }
}